stages:
  - validate
  - test

image: python:3.11

variables:
  DJANGO_SETTINGS_MODULE: "mptcourse.settings"
  VENV_PATH: ".venv"

before_script:
  # Создаём и активируем venv для каждого job
  - rm -rf "$VENV_PATH"
  - python3 -m venv "$VENV_PATH"
  - source "$VENV_PATH/bin/activate"
  # Обновляем инструменты, чтобы был pkg_resources (из setuptools)
  - python -m pip install --upgrade pip setuptools wheel
  # Ставим зависимости проекта
  - pip install -r requirements.txt

validate-django-settings:
  stage: validate
  script:
    - source "$VENV_PATH/bin/activate"
    - python manage.py check

validate-migrations:
  stage: validate
  script:
    - source "$VENV_PATH/bin/activate"
    - python manage.py makemigrations --check --dry-run

linter-check:
  stage: validate
  script:
    - source "$VENV_PATH/bin/activate"
    - pip install flake8
    - flake8 main mptcourse --config=.flake8
  allow_failure: true

test-staticfiles:
  stage: test
  script:
    - source "$VENV_PATH/bin/activate"
    - python manage.py collectstatic --noinput 
