stages:
  - validate
  - test

image: python:3.12

variables:
  DJANGO_SETTINGS_MODULE: "mptcourse.settings"
  VENV_PATH: ".venv"

before_script:
  - python3 -m venv --upgrade-deps $VENV_PATH
  - source $VENV_PATH/bin/activate
  - pip install --upgrade pip setuptools wheel
  - pip install -r requirements.txt


validate-django-settings:
  stage: validate
  script:
    - python3 manage.py check

validate-migrations:
  stage: validate
  script:
    - python3 manage.py makemigrations --check --dry-run

linter-check:
  stage: validate
  script:
    - pip install flake8
    - flake8 main mptcourse --config=.flake8

test-staticfiles:
  stage: test
  script:
    - python3 manage.py collectstatic --noinput --dry-run
